.App {
    height: 100vh;
}
.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style-type: disc;
}
.todo-list {
    margin-top: 20px;
    padding-left: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style-type: disc;
}

.todo-text {
    margin-left: 10px;
}

.todo-delete {
    margin-left: auto;
}
.bullet {
    content: "•";
    margin-right: 10px;
}
